In [ ]:
import pandas_datareader.data as pdr
import yfinance as yf

yf.pdr_override()
all_data = {item:pdr.get_data_yahoo(item) for item in ['2330.TW','2303.TW','2454.TW','2317.TW']}
all_data

In [ ]:
import pandas as pd
items = {ticker:data['Adj Close']for ticker,data in all_data.items()}
stock_price = pd.DataFrame(items)
stock_price.columns = ['台積電','聯電','聯發科','鴻海']
stock_price

In [ ]:
stock_price.info()

In [ ]:
df1 = stock_price.dropna()
df1.info()
df1

In [ ]:
df1.query("台積電>=500")

In [6]:
df1.loc['2023-01-04']

台積電    436.495758
聯電      38.277035
聯發科    559.592468
鴻海      93.578865
Name: 2023-01-04 00:00:00, dtype: float64

In [ ]:
df1.loc['2023-01']

In [11]:
df1.loc['2023']

                   台積電         聯電          聯發科          鴻海
Date
2023-01-03  439.894531  38.603394   566.631409   94.532784
2023-01-04  436.495758  38.277035   559.592468   93.578865
2023-01-05  445.235382  38.463524   555.193176   93.483475
2023-01-06  445.235382  39.535843   580.709229   93.865044
2023-01-09  467.084473  41.493984   593.907104   94.532784
...                ...        ...          ...         ...
2023-12-25  576.073059  50.200001   969.315857  103.500000
2023-12-26  581.030640  50.799999   974.186768  104.000000
2023-12-27  586.979858  53.500000  1013.154236  103.500000
2023-12-28  587.971313  52.500000   998.541443  104.000000
2023-12-29  587.971313  52.599998   988.799561  104.500000

[239 rows x 4 columns]

In [10]:
stock2023 = df1.loc['2023-03-05':'2023-05-05']

In [7]:
pctchange = df1.loc['2023'].pct_change().dropna()
pctchange

                 台積電        聯電       聯發科        鴻海
Date
2023-01-04 -0.007726 -0.008454 -0.012422 -0.010091
2023-01-05  0.020022  0.004872 -0.007862 -0.001019
2023-01-06  0.000000  0.027879  0.045959  0.004082
2023-01-09  0.049073  0.049528  0.022727  0.007114
2023-01-10  0.010395  0.011236  0.028148  0.003027
...              ...       ...       ...       ...
2023-12-25 -0.001718  0.004000  0.005051  0.000000
2023-12-26  0.008606  0.011952  0.005025  0.004831
2023-12-27  0.010239  0.053150  0.040000 -0.004808
2023-12-28  0.001689 -0.018692 -0.014423  0.004831
2023-12-29  0.000000  0.001905 -0.009756  0.004808

[238 rows x 4 columns]

In [12]:
stock2023_1 = (stock2023 - stock2023.shift(1)).dropna()
stock2023_1

                  台積電        聯電        聯發科        鴻海
Date
2023-03-07   2.913269 -0.279739   3.519470  1.430870
2023-03-08  -2.913269  0.466225 -17.597290 -0.953911
2023-03-09   0.971008  0.372982  -0.879883 -1.430870
2023-03-10  -8.739594 -0.466225  -9.678467 -0.476959
2023-03-13   2.913269  0.466225   7.038879  0.953918
2023-03-14  -5.826447 -1.678410  -2.639526 -0.953918
2023-03-15   0.971069  0.932449  -2.639587  0.476959
2023-03-16  -3.173218  0.279736  -1.759766 -0.476959
2023-03-17  12.692169  1.118938  14.957642  1.430870
2023-03-20  -5.857941  0.000000  -2.639587 -0.953911
2023-03-21   4.881592 -0.372982   0.879883  0.953911
2023-03-22  15.621216  0.652718   8.798645  0.000000
2023-03-23   4.881653 -0.186493  10.558350  0.000000
2023-03-24   0.976257 -0.186489  -2.639587  1.907829
2023-03-27  -7.810547 -0.093243  -8.798584 -1.907829
2023-03-28  -5.857910 -0.745960 -12.318115 -0.476952
2023-03-29   4.881592 -0.652714   6.158997  0.476952
2023-03-30   4.881653  0.559467   4.399353  0.953918
2023-03-31  -1.952698  0.745960   7.918762 -0.476959
2023-04-06  -2.928955 -0.093246 -29.915344 -0.476959
2023-04-07   0.976318 -0.372978  -3.519409 -0.476952
2023-04-10  -1.952637 -0.279736  -6.159058  0.000000
2023-04-11  -4.881592 -0.466225  12.318054  0.476952
2023-04-12  -3.905334  0.466225   1.759766 -0.953911
2023-04-13  -9.763245 -0.466225  -7.038940  0.476959
2023-04-14   5.857971 -0.279736  -1.759705  1.430870
2023-04-17   3.905273  0.652718 -34.314636 -0.476959
2023-04-18  -4.881592  0.093243 -18.477112  0.476959
2023-04-19  -4.881653 -0.839203 -11.438232 -0.476959
2023-04-20   2.928955 -0.466225  -1.759705  0.476959
2023-04-21  -1.952606 -0.559471  -7.038879 -0.476959
2023-04-24  -3.905334 -0.466225   9.678467 -0.476959
2023-04-25  -8.786896 -1.025692 -22.876465 -0.476952
2023-04-26  -6.346100 -0.093243  -0.879822  0.476952
2023-04-27   1.952667  0.419598  11.438232  0.000000
2023-04-28   8.298706  0.233112   2.639587  0.953918
2023-05-02  -0.976288  0.699337   5.279175  1.430870
2023-05-03  -4.881592  0.093246   7.918762 -0.476959
2023-05-04   1.952606 -0.279732 -10.558350 -0.476959
2023-05-05   1.952667 -0.046627   6.158997  0.000000

In [13]:
pctchange.corr()

          台積電        聯電       聯發科        鴻海
台積電  1.000000  0.597072  0.426386  0.249361
聯電   0.597072  1.000000  0.374385  0.145541
聯發科  0.426386  0.374385  1.000000  0.081239
鴻海   0.249361  0.145541  0.081239  1.000000